{% extends 'base.html' %}

{% block title %}Home - E-Commerce Application{% endblock %}

{% block content %}
<div class="row text-center mt-5">
    <div class="col-md-12">
        <h1 class="display-4">Welcome to our E-Commerce Store</h1>
        <p class="lead">Find the best products at the best prices.</p>
        <hr class="my-4">
        <p>Explore our categories and deals today.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Shop Now</a>
    </div>
</div>
{% endblock %}
